.color-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .color-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        min-width: 2.03125rem;
        height: 2.03125rem;
    }

    .color-item {
        width: 1.4375rem;
        height: 1.4375rem;
        border-radius: 50%;
    }
}