.eat-wrapper {
    h2 {
        @include base_color;
        @include base_h_style;
    }

    .add-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 .25rem;
        height: .875rem;
        margin: .5625rem 0;

        .add-input {
            flex: 1;
        }

        .add-btn {
            height: 85%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .lucky-draw {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 .625rem;
        margin-top: .625rem;

        .eat-select-item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            border: 1px solid #000;
            @include base_border_color;
            width: 2.8125rem;
            height: 2.8125rem;
            margin-bottom: .15625rem;
            font-size: .375rem;
        }

        .active-item {
            @include base_bg_color;
            color: #fff;
            opacity: .7;
        }

        .play-btn {
            @include base_color;
            font-size: 2rem;
        }
    }
}